{{#each this}}
<li>
    <a href="{{url}}" target="_blank" rel="noopener noreferrer">
        <article>
            <img src="{{urlToImage}}" alt="" width="600">
            <h2>{{title}}</h2>
            <p>Posted by: {{author}}</p>
            <p>{{description}}</p>
        </article>
    </a>
</li>
{{/each}}